[submodule "ufw"]
	path = ufw
	url = https://github.com/ft/ufw.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "gtest-tap-listener"]
	path = gtest-tap-listener
	url = https://github.com/kinow/gtest-tap-listener
[submodule "libtap"]
	path = libtap
	url = https://github.com/zorgnax/libtap.git
